/* Estilos para la página principal */
.homeContainer {
    padding: 20px;
}

/* Estilos para el encabezado */
.containerHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
}

/* Estilos para el texto del encabezado */
.header {
    position: absolute;
    right: 50%;
    font-size: 100px;
    margin-right: 155px;
    width: 155px;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilos para los botones de navegación */
.navButton {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s;
}

/* Estilos cuando se pasa el mouse por encima del botón */
.navButton:hover {
    background-color: #45a049;
}

/* Estilos para el contenedor de los botones */
.buttonContainer {
    display: flex; 
    align-items: center; 
    justify-content: space-around; /* Ajuste de estilo agregado */
}
